<?xml version="1.0"?>
<robot name="xacro_test_divzero" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="a" value="10"/>
  <xacro:property name="b" value="0"/>

  <!-- Division by zero without protection -->
  <xacro:property name="div_by_zero" value="${a / b}"/>

  <link name="divzero_results">
    <inertial>
      <mass value="${div_by_zero}"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </inertial>
  </link>

</robot>
