<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:macro name="foo" params="version">
  <xacro:if value="${version == 2}">
    <xacro:include filename="test_conditional_include_params.xacro"/>
  </xacro:if>
  <origin xyz="${a+sx*x} ${b+sy*y} ${c+sz*z}" rpy="${a-x} ${b/sy} ${c*-sz}" />
</xacro:macro>

<xacro:foo version="2" />

</robot>